# Python
__pycache__/

# Files created by this set up:
.venv/
dist/
{%- if cookiecutter.use_uv != 'y' %}
build/
{% endif %}
*.egg-info/
.pytest_cache/
.mypy_cache/
{%- if cookiecutter.use_ruff == 'y' %}
.ruff_cache/
{%- endif %}
